@model IEnumerable<HZ_Project.Models.Player>

    @{
        ViewData["Title"] = "AddPlayer";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AllPlayers</title>
</head>
<body>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Jméno</th>
                <th scope="col">Příjmení</th>
                <th scope="col">Přezdívka</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var x in Model)
            {
                <tr>
                    <th scope="row">@x.ID</th>
                    <td>@x.PersonalInformation.Name</td>
                    <td>@x.PersonalInformation.LastName</td>
                    <td>@x.PersonalInformation.NickName</td>
                    <td><button class="btn btn-primary btn-sm" asp-controller="player" asp-action="Details"  asp-route-id="1">Upravit</button></td>
                </tr>
            }

        </tbody>
    </table>


    <div>

        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>
