@model HZ_Project.Models.ViewModels.AddWeekendSessionModel

@{
    ViewData["Title"] = "AddWeekendSession";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddWeekendSession</h2>

<h4>WeekendSession</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form autocomplete="off" action="/action_page.php">
            <div class="autocomplete" style="width:300px;">
                <input id="myInput" type="text" name="myCountry" placeholder="Country">
            </div>
            <input type="submit">
        </form>
    </div>
</div>
<script type="text/javascript">

    function getAllPlayers() {
        var playerPool = "@Model.AllPlayers.Select(x=> new { x.Name,x.LastName}).ToArray()"

    }

</script>


<div>
    <a asp-action="Index">Back to List</a>
</div>

